<div class="bd" style="height: 100%;">
    <div class="weui_tab">
        <div class="weui_tab_bd">
            {{> todo/todo}}
            {{> done/done}}
        </div>
        <div class="weui_tabbar">
            <a href="javascript:;" class="weui_tabbar_item weui_bar_item_on" data-target="tab-todo">
                <div class="weui_tabbar_icon">
                    <img src="/public/images/icon_nav_article.png" alt="">
                </div>
                <p class="weui_tabbar_label">TODO</p>
            </a>
            <a href="javascript:;" class="weui_tabbar_item" data-target="tab-done">
                <div class="weui_tabbar_icon">
                    <img src="/public/images/icon_nav_msg.png" alt="">
                </div>
                <p class="weui_tabbar_label">DONE</p>
            </a>
        </div>
    </div>
</div>