<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <title>About us</title>
</head>
<body>
    <section class="aboutus-wrap">
        <div class="banner"></div>
        <div class="bd">
            <article class="weui_article">
                <section>
                    <h3>文件引用</h3>
                    <p>本页嵌入了外部字体，字体文件被处理并输出到构建文件夹</p>
                </section>
                <section>
                    <h3>图片合并</h3>
                    <p>下面展示的几个图片在生产构建阶段被识别并合并成精灵图</p>
                    <ul class="smiley">
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </section>
            </article>
        </div>        
    </section>
</body>
</html>
