html, body {
    height: 100%;
    background: #fbf9fe;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tab {
    display: none;
}
.tab-active {
    display: block;
}