<section id="list_wrap" class="bd" style="height: 100%;">
    <div class="weui_tab">
        <div class="weui_tab_bd">
            <div class="weui_cells_title">未完成</div>
            <div class="weui_cells weui_cells_checkbox">
            </div>
            <div class="button-space">
                <a href="javascript:;" class="weui_btn weui_btn weui_btn_primary weui_btn weui_btn_warn">完成</a>
            </div>
        </div>
        <div class="weui_tabbar">
            <a href="javascript:;" class="weui_tabbar_item weui_bar_item_on" data-status="0">
                <div class="weui_tabbar_icon">
                    <img src="/public/images/icon_nav_article.png" alt="">
                </div>
                <p class="weui_tabbar_label">TODO</p>
            </a>
            <a href="javascript:;" class="weui_tabbar_item" data-status="1">
                <div class="weui_tabbar_icon">
                    <img src="/public/images/icon_nav_msg.png" alt="">
                </div>
                <p class="weui_tabbar_label">DONE</p>
            </a>
        </div>
    </div>
    <a href="javascript:void(0)" id="toggle_btn" class="toggle-btn">添加</a>
</section>